html, body {
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    background:#efefef url(/web/img/logo_bg.jpg) center 200px no-repeat; padding:0 0 28px 0;
    color: #337ab7;
}

h1{
    font-size: 22px;
    font-weight: bold;
}

h2{
    font-size: 14px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding: 10px 30px 32000px 30px;
    margin-bottom: -32000px;
    width: 100%;
    float: left;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: #ababab;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse, .navbar-fixed-top, .navbar{
    box-shadow: 0 10px 10px -5px; /* Shadows of navbar */
}

li.active,.navbar-inverse, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus{
    background: #337ab7;
    border-color: #337ab7;
    /*opacity: 0.7;*/
    /*filter: alpha(Opacity=70); !* Прозрачность в IE *!*/
}

.navbar-inverse .navbar-nav > .active > a:hover{
    background: #337ab7;
    border-color: #337ab7;
    color: #ababab;
}

.navbar-inverse .navbar-nav > li > a {
    color: #efefef;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #ababab;
}

.navbar-inverse .navbar-brand {
    color: #efefef;
}

.row {
    width: 230px;
    padding: 10px 10px 32000px 25px;
    margin-bottom: -32000px;
    float: left;
}

.ui-datepicker-year, .ui-datepicker-month, .ui-widget {
    color: #337ab7;
}

.btn-success {
    background-color: #ababab;
    border-color: #ababab;
}

.index {
    font-size: 14px;
}

.btn.btn-link.logout{
    color: #efefef;
}

.breadcrumb{
    margin-left: 20%;
    margin-right: 20%;
}

div[class*=-create],div[class*=-update],.requests-view,.planner-view,.site-contact {
    margin-left: 20%;
    margin-right: 20%;
}

.wait{
    color: #ff0000;
}

.postponed{
    color: #ffa500;
}

.performed{
    color: #008000;
}

.completed{
    text-decoration:line-through;
}

.today{
    font-weight: bold;
}

.btn-option{
    margin: 1px 5px 2px 0;
    padding: 6px 16px 6px 17px;
}

.btn-requests{
    padding: 6px 18px;
}

.btn-planner {
    padding: 6px 12px;

}

.btn-create{
    display: inline-block;
    margin-bottom: -4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #337ab7;
}

.btn-create:hover, .btn-create:focus{
    text-decoration: none;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-current, .btn:focus, .btn:hover, .btn-option:active {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-success:active:focus:hover {
    background-color: #2d5c92;
    border-color: #2d5c92;
}

.field-plannerfilter-month,.field-plannerfilter-year{
    display: inline-block;
    width: 173px;
    margin-bottom: 0;
}

.field-plannerfilter-year{
    width: 80px;
}

.btn-filter{
    display: block;
}

.service-index li,.home-index li{
    background:transparent url(/web/img/li.jpg) no-repeat scroll;
    background-position: left 3px;
    list-style-type: none;
    padding: 0 0 10px 25px;
}

.my-tooltip{
    text-decoration: underline;
    cursor:pointer;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    border-bottom-width: 1px;
    border-left-width:1px;
    border-right-width: 1px;
    border-top-width:1px;
    background-color:#efefef;
    border-color: #9f9f9f;
    color: #337ab7
}

li.dropdown.open{
    width: 159px;
    border-color: #9f9f9f;
    border-bottom-width: 1px;
}


.navbar-nav > li > .dropdown-menu{
    background-color:#efefef;
    border-top-color:#efefef;
    border-left-color: #9f9f9f;
    border-right-color:#9f9f9f;
    border-bottom-color:#9f9f9f;
    opacity: 1.0;
    filter: alpha(Opacity=100); /* Transparent in IE */
}

.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #efefef;
    border-color: #337ab7;;
}

.dropdown-menu > li > a{
    color: #337ab7;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    background-color:#868787;
    color: #337ab7;
    border-color: #337ab7;
}

.form-group.field-partsitem-partname{
    flex-basis: 70%;
}

.form-group.field-partsitem-number{
    margin-right: 5px;
    margin-left: 5px;
    flex-basis: 15%;
}

.form-group.field-partsitem-measure{
    flex-basis: 15%;
}

.field-partsitem-invoice{
    margin-right: 5px;
    margin-left: 5px;
}

.parts-item-firstgroup,.parts-item-secondgroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel{
    background-color: #efefef;
}

.panel-body {
    padding: 5px;
    border: 0px solid transparent;
}
/*.modal-content{*/
    /*width: 700px;*/
    /*margin-left: 20%;*/
/*}*/

/*.btn.btn-link.logout:hover{*/
    /*color: #ababab;*/
/*}*/

/*.container{*/
/*float: none;*/
/*}*/

/*.requests-bar {*/
    /*width: 15%;*/
    /*padding: 10px 10px 10px 10px;*/
    /*!*margin-bottom: -32000px;*!*/
    /*float: left;*/
/*}*/
